.external-chats {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 500px;
    background: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;

    #resize {
        background-color: #ccc;
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        height: 100%;
        cursor: w-resize;
    }

    &.ec-theme-dark {
        background: #10212F;
    }

    .ec-header {
        text-align: center;

        h1 {
            font-weight: bold;
            font-size: 25px;
        }

        .ec-options {
            display: flex;
            flex-direction: row;
            gap: 10px;

            font-size: 12px;
            justify-content: space-between;
        }

        .ec-error {
            display: block;
            font-weight: bold;

            &.hidden {
                display: none;
            }
        }
    }

    .external-chat-list {
        display: flex;
        flex-direction: column;
        gap: 2px;

        overflow: auto;

        .external-chat {
            border: 1px solid black;
            margin: 3px;
            overflow-wrap: break-word;

            display: flex;
            flex-direction: column;

            &.read {
                opacity: 0.5;
            }

            .rant-amount {
                display: flex;
                flex-direction: row;
                align-items: center;

                font-weight: bold;
                padding: 5px;

                .ec-show-hide-checkbox {
                    margin-left: auto;
                    justify-self: flex-end;
                    font-weight: normal;
                }
            }

            p {
                margin: 0;
            }

            .user-info {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                padding: 5px;

                .user-image {
                    max-width: 30px;

                    img {
                        height: auto;
                        width: 30px;
                        max-height: 30px;
                    }
                }

                p {
                    font-weight: bold;
                }

                .timestamp {
                    justify-self: flex-end;
                    margin-left: auto;
                }
            }

            .chat-text {
                padding: 5px;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        justify-self: flex-end;
        margin-top: auto;

        font-size: 10px;
        text-align: center;
        padding: 5px;
    }
}
